
.cellprefix{
    
    padding: 15px 0 0 20px;
}

.gamecell{
    border:1px solid #00a4a2;  
    float: left;
    margin: 0;  
   
    padding: 15px 15px 15px 15px;
   
    cursor :pointer;
    border: 1px solid;

}
.grey{
    background-color: gray;

}